.cube {
    width: 10px;
    height: 10px;
}

.text {
    margin-left: 5px;
}

.text-group {
    display: flex;
    align-items: center;
}

.indication-group {
    display: flex;
    justify-content: space-evenly;
}

#sidebar-container {
    min-height: 100vh;
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}

.sidebar-collapsed {
    width: 90px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 50px;
    color: white;
}

.loggedIn {
    height: 100px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.collapsed-icons {
    display: flex;
    justify-content: flex-end;
    align-content: center;
    transform: scale(1.2);
}

.contact-card {
    height: 250px;
    width: 350px;
    max-height: 250px;
    max-width: 350px;
    margin: 10px;
}

.contacts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
}